body{
    width: 1200px;
    margin: auto;
    font-family: "Open Sans";
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}

.ask-btn {
    background-color: #33836E;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}

.phone-number {
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color: #2F2B430A;
    border-radius: 10px;
    padding: 10px;
}

.menu{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu-border{
    border: 1px solid rgba(78, 78, 78, 0.247);
    border-radius: 10px;
    padding: 10px 20px;
}

.box1 a{
    color: #2F2B4380;
    font-size: 16px;
    text-decoration: none;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 657px;
}


.box{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px ;
}

.href2{
    text-decoration: none;
    color: black;
    font-size: 38px;
    font-weight: 700;
}

.text{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0px;
}

.ask-btn2{
    background-color: #33836E;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    color: white;
    font-size: 16px;
}

.number{
    color: #33836E;
    font-weight: 700;
    font-size: 24px;
    text-decoration-line: underline;
    text-decoration-color: #33836E;
}

.contact2{
    width: 180px;
    height: 33px;
    display: flex;
    flex-direction: column;
}

.text2{
    display: flex;
    gap: 30px;
}

.number1{
    color: #2F2B4380;
    text-decoration: none;
    font-size: 12px;
    width: 189px;
}

.box2{
    display: flex;
    gap: 10px; 
    flex-direction: row;
    margin: 40px 0px;
}

.title{
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.help{
    font-weight: 700;
    font-size: 32px;
}

.text3{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.title2{
    flex-direction: column;
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}